Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript.unityproj
Assembly-UnityScript-vs.unityproj

*.sln
*.csproj
*.opensdf
/.DS_Store
*obj/
Temp
Debug/
Release/
/build/

Library/

*.meta
!Assets/Prefabs/**/*.meta
!Assets/Scripts/**/*.meta
!Assets/Resources/**/*.meta

*.suo

#temp

#/Assets/Resources/Materials
ProjectSettings/GraphicsSettings.asset
ProjectSettings/QualitySettings.asset
